<ion-item button="true" detail="true" (click)="onItemClick()">
  <ion-label>
    <div>
      <div>
        <p class="weekday-color">{{ session.weekday }}</p>
        <h1>
          {{ session.sessionName }}
        </h1>
        <p>{{ exercisesAmount }} Exercises</p>
        <p>Previous Session: {{ estimatedTime }}</p>
      </div>
    </div>
  </ion-label>
  <ion-button color="light" class="edit-button" (click)="onEditClick($event)">
    <ion-icon name="create-outline" color="primary" size="large"></ion-icon>
  </ion-button>
</ion-item>