<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu *ngIf="isMenuVisible()" contentId="main-content" type="overlay" side="end" (ionDidOpen)="menuOpened()" (ionDidClose)="menuClosed()">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header class="menu-list-header">
            <ion-avatar>
              <img src="assets/images/idealtimer-logo.png" alt="App Logo">
            </ion-avatar>
            <ion-label class="menu-title">
              Ideal Timer
            </ion-label>
          </ion-list-header>
  
          
          <ion-item>
            <ion-icon [name]="currentSettings.audioOn ? 'volume-high-outline' : 'volume-mute-outline'" slot="start"></ion-icon>
            <ion-label>Sound On</ion-label>
            <ion-toggle slot="end" (ionChange)="toggleSound()" [checked]="currentSettings.audioOn" aria-label="Sound On"></ion-toggle>
          </ion-item>
          <ion-item class="volume-item">
            <ion-icon [name]="getVolumeIconName(currentSettings.volume!)" slot="start"></ion-icon>
            <div class="volume-container">
              <ion-label class="volume-label">Volume</ion-label>
              <ion-range
                class="slider"
                min="0"
                max="1"
                step="0.1"
                [value]="currentSettings.audioOn ? currentSettings.volume : 0"
                (ionChange)="adjustVolume($event)"
                aria-label="Volume"
              >
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">1</ion-label>
              </ion-range>
            </div>
          </ion-item>
          <ion-item class="sounds-container">
            <ion-icon (click)="showSoundOptions()" name="musical-notes-outline" slot="start"></ion-icon>
            <ion-list class="sound-container">
              <ion-select class="custom-select" aria-label="Select Sound" interface="popover" placeholder="{{ getSoundNameWithoutExtension(this.currentSettings.selectedAudioFile!) }}" (ionChange)="soundSelected($event)">
                <ion-select-option *ngFor="let sound of allSoundOptions" aria-label="Sound" [value]="sound.name">{{ getSoundNameWithoutExtension(sound.name) }}</ion-select-option>
              </ion-select>
            </ion-list>
          </ion-item>
          <ion-item>
            <ion-icon [name]="currentSettings.darkmode ? 'moon' : 'moon-outline'" slot="start"></ion-icon>
            <ion-label>Dark Mode</ion-label>
            <ion-toggle slot="end" (ionChange)="toggleDarkMode()" [checked]="currentSettings.darkmode" aria-label="Dark Mode"></ion-toggle>
          </ion-item>
          <ion-item button (click)="openFaqModal()">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>FAQs</ion-label>
          </ion-item>
          <ion-item button (click)="openAboutUsModal()">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-item>
          <ion-item button (click)="openContactUsModal()">
            <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
            <ion-label>Contact Us</ion-label>
          </ion-item>
          <ion-item button (click)="logout()" class="danger-item">
            <ion-icon style="color: var(--ion-color-danger);" name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
          <ion-item button (click)="openDeleteAccountModal()" class="danger-item">
            <ion-icon style="color: var(--ion-color-danger);" name="trash-outline" slot="start"></ion-icon>
            <ion-label>Delete Account</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      
      <ion-footer class="menu-footer">
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              Version: 1.0.0
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              © 2023 Ideal Timer Inc.
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-menu>

    <ion-modal #faqModal>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button (click)="cancelFaqModal()" default-href="#"></ion-back-button>
            </ion-buttons>
            <ion-title class="ion-text-center">FAQs</ion-title>
            <div slot="end" style="width: 48px;"></div>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <h2>Frequently Asked Questions (FAQs)</h2>
          <p>Welcome to our FAQ section. Here you can find answers to the most common questions our users have. From how to get started, to advanced features and account management, we've compiled a comprehensive list to help you navigate our services with ease.</p>
        
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h3>What is hypertrophy and how does the app help?</h3>
                <p>Hypertrophy is the enlargement of muscles obtained through exercise. Our app optimizes your workout sessions by calculating the ideal rest time for muscle growth based on the latest scientific research.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>How does the ideal rest timer work?</h3>
                <p>The app calculates the optimal rest period between sets for hypertrophy by considering your current exercise intensity and volume, helping you achieve the best results from your training.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Can I log different types of workouts?</h3>
                <p>Yes, our app supports various workout types, catering specifically to those focused on hypertrophy but also accommodating other training styles for comprehensive fitness tracking.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Do I need to know my workouts beforehand?</h3>
                <p>While our app does not provide workout programs, it is perfect for intermediate gym-goers who have a routine in place and want to log their exercises and track rest periods effectively.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>What makes this app different from other fitness apps?</h3>
                <p>Our focus is on providing advanced tools for intermediate to advanced gym-goers. We specialize in hypertrophy training and offer unique features like our rest timer to enhance your training efficiency.</p>
              </ion-label>
            </ion-item>
          </ion-list>
        
          <p>If you can't find the answer you're looking for, please contact our support team through the Contact Us section.</p>
        </ion-content> 
      </ng-template>  
    </ion-modal>

    <ion-modal #aboutUsModal>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button (click)="cancelAboutUsModal()" default-href="#"></ion-back-button>
            </ion-buttons>
            <ion-title class="ion-text-center">About Us</ion-title>
            <div slot="end" style="width: 48px;"></div>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <h2>About Us</h2>
          <p>At Ideal Timer, we're more than just a fitness app; we're a community of dedicated individuals who share a passion for health, strength, and personal growth. Our journey began with a simple idea: to create a tool that not only tracks workouts but also enhances the fitness journey for those who are serious about making gains.</p>
        
          <p>Our team is comprised of fitness enthusiasts, experienced personal trainers, and software developers who understand the science of muscle building and the value of time. Together, we've harnessed cutting-edge technology and up-to-date scientific research to deliver an app that stands out from the crowd.</p>
        
          <p>What sets us apart is our commitment to hypertrophy—the art and science of muscle building. Our app is meticulously designed to serve those who have moved past the beginner stage and are looking for that extra edge in their training. By focusing on rest intervals optimized for hypertrophy, our users can ensure they're giving their muscles the perfect environment to grow.</p>
        
          <p>We're proud to offer a platform that goes beyond simple workout logs. Ideal Timer is a comprehensive tool that includes:</p>
        
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h3>Intelligent Rest Timer</h3>
                <p>Our proprietary timer calculates the ideal rest period between sets, helping you to maximize muscle growth with science-backed timing strategies.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Custom Workout Logs</h3>
                <p>Log your exercises, track your progress, and visualize your improvement with intuitive tracking tools designed for intermediate and advanced gym-goers.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Progressive Overload Assistant</h3>
                <p>Keep challenging your muscles to grow with our built-in assistant that helps you know when it's time to increase your load or intensity.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Community and Support</h3>
                <p>Join a community of like-minded individuals, share your achievements, and get the motivation you need to keep pushing your limits.</p>
              </ion-label>
            </ion-item>
          </ion-list>
        
          <p>Our vision is to empower you to reach your hypertrophy goals and transform your workouts from routine to remarkable. Whether you're in the gym or training at home, Ideal Timer is your partner in fitness.</p>
        
          <p>Thank you for choosing Ideal Timer. Here's to your health and strength!</p>
        </ion-content>
        
      </ng-template>   
    </ion-modal>

    <ion-modal #contactUsModal>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button (click)="cancelContactUsModal()" default-href="#"></ion-back-button>
            </ion-buttons>
            <ion-title class="ion-text-center">Contact Us</ion-title>
            <div slot="end" style="width: 48px;"></div>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <h2>Contact Us</h2>
          <p>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you can contact us right here. At Ideal Timer, your fitness journey and satisfaction are at the heart of what we do, and your feedback is vital to our continual improvement.</p>
        
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h3>Customer Support</h3>
                <p>Have questions about our app or need assistance with your account? Our customer support team is ready to help you. Email us at support@idealtimer.com, and we'll get back to you within one business day.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Technical Issues</h3>
                <p>Encountering a glitch? Let our tech team tackle the trouble. Reach out to us at techsupport@idealtimer.com with a detailed description of your issue or any error messages you’re seeing, and we’ll work on a fix promptly.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Feedback & Suggestions</h3>
                <p>Your feedback fuels our growth, and your suggestions inspire our features. Share your thoughts with us at feedback@idealtimer.com, and help shape the future of Ideal Timer.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Partnership Opportunities</h3>
                <p>Interested in partnering with us? We’re open to collaboration opportunities that align with our mission to revolutionize fitness training. Contact us at partnerships@idealtimer.com for potential business collaborations.</p>
              </ion-label>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label>
                <h3>Social Media</h3>
                <p>Join our community online for the latest tips, success stories, and updates. Follow us on our social media platforms and become a part of the Ideal Timer family.</p>
                <p>
                  <ion-icon name="logo-instagram"></ion-icon> @IdealTimerFit
                  <ion-icon name="logo-facebook"></ion-icon> /IdealTimerFit
                  <ion-icon name="logo-twitter"></ion-icon> @IdealTimerFit
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        
          <p>For all other inquiries, please fill out the contact form on our website, and we’ll get in touch. We’re here to ensure your experience with Ideal Timer is nothing short of exceptional.</p>
        </ion-content>
        
      </ng-template>
    </ion-modal>

    <ion-modal #deleteAccountModal>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button (click)="cancelDeleteAccountModal()" default-href="#"></ion-back-button>
            </ion-buttons>
            <ion-title class="ion-text-center">Delete Account</ion-title>
            <div slot="end" style="width: 48px;"></div>
          </ion-toolbar>
        </ion-header>
    
        <ion-content class="ion-padding">
          <p class="ion-text-center">Are you sure you want to delete your account?</p>
          <p class="ion-text-center">This action is irreversible, and all your data will be permanently lost.</p>
    
          <ion-button expand="full" color="danger" (click)="deleteAccount()">Yes, Delete My Account</ion-button>
          <ion-button expand="full" (click)="cancelDeleteAccountModal()">Cancel</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
    

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-loading></app-loading>
</ion-app>
