<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title color="primary">
            HypertroTimer
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input formControlName="email" type="email" inputmode="email" label="Email" labelPlacement="floating" placeholder="Email" (keyup.enter)="login()"></ion-input>
          </ion-item>
          <ion-label *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']" color="danger">Email is mandatory</ion-label>
          <ion-label *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']" color="danger">Invalid email address</ion-label>
          
          <ion-item>
            <ion-input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}" label="Password" labelPlacement="floating" placeholder="Password" (keyup.enter)="login()"></ion-input>
            <ion-icon slot="end" (click)="toggleShowPassword()" [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
          </ion-item>
          
          <ion-label *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']" color="danger">Password is mandatory</ion-label>
          <ion-label *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']" color="danger">Minimum of 6 characters</ion-label>
          
          <ion-button id="recoverPasswordButton" color="dark" fill="clear" size="full" (click)="forgotEmailPassword()" [disabled]="!form.get('email')?.valid">Forgot Password</ion-button>
          <ion-button id="loginButton" color="primary" size="full" (click)="login()" [disabled]="!form.valid">Login</ion-button>
          <ion-button id="registrationButton" color="primary" fill="clear" size="full" (click)="registration()" [disabled]="!form.valid">Create Account</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
