.exercise-list {
  max-height: 200px;
  overflow-y: auto;
}

.muscle-buttons {
  margin-top: 1em;
}

.add-button {
  position: fixed;
  margin-right: 12px;
  margin-bottom: 12px;
}

.muscle-buttons ion-button {
  font-size: 12px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 3px;
  --padding-bottom: 3px;
  --border-width: 1px;
  box-sizing: border-box;
}

ion-searchbar {
  margin-top: -4px;
}

.form-label {
  font-size: 16px;
  color: var(--ion-color-dark);
}

.muscles-not-selected-label {
  color: var(--ion-color-danger);
}

.start-workout-button {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 48px;
  font-size: 1em;
}

::ng-deep .toast-custom {
  transform: translateY(-50px) !important;
}

.info-icon {
  pointer-events: auto;
}
