<ion-item>
  <!--ion-avatar slot="start">
    <img src="https://e7.pngegg.com/pngimages/881/40/png-clipart-bench-press-exercise-barbell-muscle-upper-body-angle-physical-fitness-thumbnail.png"/>
  </ion-avatar-->
  <ion-label class="exercise-label">
    <div>
      <div>
        <h1>{{ exercise.exerciseName }}</h1>
        <ng-container *ngFor="let set of repsAndWeight; let i = index">
          <p>Set {{ i + 1 }}: {{ set.weight }} kg for {{ set.reps }} reps</p>
        </ng-container>
        <p *ngIf="!repsAndWeight"> No sets completed yet </p>
      </div>
    </div>
  </ion-label>
  <ion-button color="light" class="edit-button" (click)="onEditClick($event)">
    <ion-icon name="create-outline" color="primary" size="large"></ion-icon>
  </ion-button>
  <ion-reorder slot="end">
    <ion-icon name="reorder-two-outline" color="medium" size="large"></ion-icon>
  </ion-reorder>
</ion-item>